<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Campus-Cruises.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABA1AAC91C3D941A008E63DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA1AAE51C3D941B008E63DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA1AAF01C3D941B008E63DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
